@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }

  a {
    @apply text-blue-600 hover:underline;
  }
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}